h1 {
    color : lightslategrey;
}

table {
    text-align: center;
}

table, th, td {
    border: 0.1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}


div.ab{
    background-color: azure;
    max-width: 500px;
}

div.ao{
    background-color: whitesmoke;
    max-width: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}


body{
    text-align:center;
    background-color: whitesmoke;
}